<div style="width:100%; height:auto; border:1px solid #000000; margin: 5px">
  <text>
    <%= post.header%>
  </text>
  <div align="right">
    <%= link_to(I18n.t('posts.view'), post_path(post)) %>
  </div>
</div>
