<div class="top tar">
  <%= button_to(I18n.t('posts.new'), new_post_path,  {method: :get, form_class: 'form', class: 'btn btn-small'}) %>
</div>

<div class="list">
  <dl>
    <% @posts.each do |post| %>
        <%= render 'posts/post_item', post: post %>
    <% end %>
  </dl>
</div>
